@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/* style default*/
* {
  margin:  0;
  padding: 0;
}

body{
  font-family: 'montserrat', sans-serif;
  margin: none;
}

section{
  width: 100%;
  height: 100%;
  background-color:#0E0643  ;
  /* background-image:url(./images/background.jpg); */
}

  /* style header */
.navbar{
  display: flex;
  background-color: #612C75 ;
  opacity: 0.9;
  padding: 5vh;
  position: fixed;
  width: 100%;
}

.menu{
  display: flex;
}

.menu li{
  list-style-type: none;
  margin: 0 10px;
}
.menu a{
  color: aliceblue;
  text-decoration: none;
  transition: 0.3s;
  font-size: large;
}
.menu li a:hover{
  font-weight:bold;
  font-size:larger;
}

/* style Home */
.body-home{
color:aliceblue;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.image-cv {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.image-cv img{
  border-radius: 50%;
  width: 40%;
  margin-top: 30%;

}
.text-home p{
  margin-bottom: 10%;
  font-size: 30px;
  margin-bottom: 30%;
}
p{
  margin-bottom: 6vh;
}

/* style Contact */

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-contact{
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  opacity: 0.9;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

}
.title-form{
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}

form { max-width:420px; }
.custom-select{
  width: 250px

}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #612C75;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #49A4F8; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#612C75;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#49A4F8; }



/* style About */
.about-page{
  text-align: center;
  width: 80%;
  padding: 10%;

}
.about-text{
  color: aliceblue;
  text-align: center;
  font-size: 20px;
}
.barras-skills{
  display: flex;
}

/* style & animation barra*/
#contenedor {
    width: 50%;
    height: 10%;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid #49A4F8;
}

.barra-text{
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  margin-left: 15px;
}

.skill{
    font-size: 15px;
    font-weight: bold;
    line-height: 2em;
    width: 20px;
    height: 50%;
    text-align: center;
    color: #49A4F8;
}
.html{
  background-color:#7D3C98;
  animation: fillhtml 2s forwards;
}
.css{
  background-color:#7D3C98;
  animation: fillcss 3s forwards;
}
.js{
  background-color:#7D3C98;
  animation: filljs 2s forwards;
}



/* Animation Barras */

@keyframes fillhtml {
    0%{width: 0;}
    100% {width: 60%;}

}
@keyframes fillcss {
    0% {width: 0;}
    100% {width: 50%;}

}
@keyframes filljs {
    0% {width: 0;}
    100% {width: 30%;}

}
/* style Dekstop */
@media screen and (max-width:459px) {
  .image-cv img{
    border-radius: 50%;
    height: 40%;
    margin-top: 50%;
    justify-content: center;
    margin-bottom: 20%;

  }
  .barra-text p{
  margin-left: 10%;
}


}
